body {
    padding: 15px;
    margin: 5px;
    font-family: Arial;
    font-size: 17px;
}
h1 {
    text-align: center;
}
#nav {
    background-color: #ffe4e1;
}
#nav_wrapper {
    width: 2000px
    margin: 0 auto;
    text-align: center;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    display: inline-block;
    padding: 5px;
}
#nav ul li:hover {
    background-color: #fff0f5;
}
#nav ul li a, visited {
    color: #222;
    display: block;
    padding: 20px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
    background-color: #fff0f5;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #ffe4e1;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #fff0f5;
}
h2 {
    padding: 10px;
    margin: 20px;
}
p {
    padding: 15px;
}
